 <!--いいね部分-->
<% if book.favorited_by?(current_user) %>

  <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
  <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
  <% end %>
  <span><%= book.favorites.count %>いいね</span>

<% else %>

  <%= link_to book_favorites_path(book), method: :post, remote: true do %>
   <i class="glyphicon glyphicon-heart-empty" style="color: red;"></i>
  <% end %>
  <span><%= book.favorites.count %>いいね</span>

<% end %>

